/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-shadow: 2px 4px 11px magenta;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  /*Her styles teksten*/
  font-family: 'Open Sans', sans-serif;
  font-size: 22.5px;
  font-weight: 549;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/
  color: rgb(0, 121, 0);
  font-size: 23px;
  text-shadow: 2px 2px greenyellow;
  text-indent: 5%;
}
.box3 .content p::first-letter {
  font-size: 45px;
  color: rgb(72, 72, 252);
  text-shadow: 2px 2px 2px greenyellow;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  /*Her styles teksten*/
  color: rgb(253, 59, 91);
  font-size: 19.5px;
  text-transform:uppercase;
  font-weight:550;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 64px;
  color: orange;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: russiano;
  src: url("russiano/russiano-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  font-family: russiano;
  font-size: 48px;
  color: red;
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  color: rgb(38, 149, 201);
  font-family: Krona One;
  font-size: 41px;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
  color: rgb(207, 4, 207);
  font-family: Pacifico;
  font-size: 60px;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: rgb(213, 233, 159);
  font-size: 18px;
  line-height:23px;
  font-weight: 549;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  background-color:rgb(239, 253, 253);
  font-size: 19px;
  letter-spacing: 1.5px;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: rgb(238, 107, 0);
  text-decoration: none;
  font-weight: 550;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
background-image: url(bg_images/himmel.jpeg);
background-size: 320px;
  /*Her styles teksten*/
  font-size: 32px;
  font-weight: 550;
  color: rgb(199, 9, 9);
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 64px;
  font-weight: 650;
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 320px;
  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background: linear-gradient(#ff00aa,#ffae349c ,#ff0202);
  /*Her styles teksten*/
  text-align: right;
  font-size: 30px;
  font-style: italic;
  color: whitesmoke;

}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/
  background: url(bg_images/blomst.png), url(bg_images/Atlas.jpg);
  
  /* størrelse på de to baggrunde separeret af komma */
  background-size: 95px, 400px;

  /* skal baggrundsbilledet gentages? */
  background-repeat: no-repeat, no-repeat;
  /* Hvor skal baggrundsbilledet placeres? */
  background-position: right;
  /*Her styles teksten*/
  color: white;
  font-size: 20px;
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
  background: 
    repeating-radial-gradient(
      circle at 0 0, 
      #000000,
      #a53636,
      #ffffff 40px
    );
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
  background: url(bg_images/himmel.jpeg);
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/
  background-image: url(bg_images/blomst.png);
  background-size: 100px;
  /*Baggrundsfarve*/
  background-color: yellow;
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/
  background-image: url(bg_images/blomst.png);
  background-size: 100px;
  /*Baggrundsfarve*/
  background-color: rgba(255, 255, 0, 0.342);
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
  background: url(bg_images/blue.jpeg);
  background-size: 400px;
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/
  width: 100px;
  height: 100px;

  /*Indsæt blomsten med background-image og background-size*/
  background: url(bg_images/blomst.png);
  background-size: 100px;

  /*Brug filter så blomsten får en sepia toning*/
  filter: sepia();
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
